@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin headings($h1size, $minus) {
  @each $h in h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    #{$h} {
      font-size: $h1size;
    }
    $h1size: $h1size - $minus;
  }
}
