// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
// breakpoints
$breakpoint-portrait: "only screen and (max-width: 767px) and (orientation: portrait)";
$breakpoint-small: "only screen and (max-width: 767px)";
$breakpoint-large: "only screen and (min-width: 768px)";
// colors
$primary-color: #eee;
$background: #9933cc;
$navbar: brown;
